{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 140,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["tv"]
}
